.itemcards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: center;
  padding: 0;
}

.cards__unit-F {
  content: "&deg; F";
}

.cards__unit-C {
  content: "&deg; C";
}
