.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

a {
  text-decoration: none;
}

.header__logo {
  margin-right: 24px;
}

.header__date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__date-and-time {
  margin: 0;
  padding: 0;
}

.header__register-and-login {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header__button {
  margin: 0;
  border-color: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__username {
  margin: 0;
  margin-right: 12px;
}

.header__avatar {
  height: 40px;
  width: 40px;
}

.header__default-avatar {
  border-style: solid;
  border-color: black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffffff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
}
