.item-modal__container {
  position: relative;
  max-width: 498px;
  max-height: 610px;
  background-color: #ffffff;
  z-index: 999;
  margin: auto;
  padding: 28px;
  border: 1px;
  border-radius: 20px;
  justify-content: center;
}

.item-modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  height: 16px;
  width: 16px;
  border: none;
}

.item-modal__image {
  width: 100%;
  max-height: 480px;
}

.item-modal__caption {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.item-modal__title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.item-modal__text {
  font-size: 20px;
}

.item-modal__button-container {
  margin-top: 20px;
}

.item-modal__delete-button {
  border: none;
  color: #ff4d00;
  font-weight: 700;
  background-color: transparent;
}

.item-modal__delete-button_hidden {
  visibility: hidden;
}
