.sidebar__profile {
  display: flex;
  flex-direction: row;
  width: 230px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.sidebar__image {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
}

.sidebar__button {
  margin-bottom: 8px;
  border-color: transparent;
}

.sidebar__button:hover {
  cursor: pointer;
}
